.tech-background {
    background-clip: content-box;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $green;
    margin: 40px 0 10px 42px;
}

.size-tech {
    height: 340px;
    width: 220px;
}

.modify {
    height: 400px;
}

.subtitle {
    padding: 10px 0 15px 0;
}

.tech {
    margin: 10px 0 0 10px;
    background: $green;
    border-radius: 5px;
}

.order-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-tech {
    font-size: $text-medium;
    font-family: $font-roboto;
    padding: 10px 0 10px 0;
}

.format {
    text-align: center;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    line-height: inherit;
    padding: 10px 0 15px 0;
}

.technologys {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 240px;
}

.content {
    display: flex;
    flex-direction: column;
}

.front-margin {
    margin-left: 35px;
}

.front-text {
    height: 160px;
}
