.tech-background {
    background-clip: content-box;
    border-radius: 5px;
    border: 1px solid $green;
    margin: 40px 0 10px 42px;
}

.size-tech {
    height: 340px;
    width: 220px;
    &.modify {
        height: 400px;
    }
}

.subtitle {
    padding: 10px 0 15px 0;
}

.tech {
    margin: 50px 0 0 42px;
    background: $green;
    border-radius: 5px;
    position: relative;
}

.order-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-tech {
    font-size: $text-medium;
    font-family: $font-roboto;
    padding: 10px 0 10px 0;
}

.format {
    text-align: center;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    line-height: inherit;
    padding: 10px 0 15px 0;
    &.front-text {
        height: 160px;
    }

}

.technologys {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 240px;
}

.content {
    display: flex;
    flex-direction: column;
}

.order-tech::before,
.order-tech.modify::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -10px;
    left: -10px;
    border: 1px solid $green;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.order-tech:hover::before,
.order-tech.size-tech.modify:hover::before{
    top: 10px;
    left: 10px;
}
