.size-tech {
    height: 340px;
    width: 220px;
    margin-left: 10px;
    &.modify {
        height: 390px;
        width: 240px;
    }
}

.subtitle {
    padding: 10px 0 15px 0;
}

.order-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-tech {
    font-size: $text-medium;
    font-family: $font-roboto;
    padding: 10px 0 10px 0;
}

.format {
    text-align: center;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    line-height: inherit;
    padding: 10px 0 0 0;

}

.technologys {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 330px);
    justify-items: center;
    margin: 50px 0 0 300px;
    grid-row-gap: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.first {
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px $green solid;
}

@media only screen and (max-width: 1024px) {
    .title {
        padding-left: 0;
        &.second {
            padding: 100px 0 30px;
        }
    }
    .content {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .technologys {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 0 0;
        width: 400px;
    }

    .first {
        border-right: 0px;
    }

    .order-tech {
        border-bottom: 2px $green solid;
        padding-bottom: 10px;
        &.last {
            border-bottom: 0;
        }
    }

    .first-tech {
        padding-bottom: 50px;
    }
}
