.tech-background {
    background-clip: content-box;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $green;
    margin-top: 10px;
}

.modify-img {
    padding-top: 5px;
}

.size-tech {
    height: 340px;
    width: 220px;
}

.subtitle {
    padding-bottom: 15px;
}

.tech {
    margin-top: 10px;
    margin-left: 10px;
    background: $green;
    border-radius: 5px;
}

.order-tech {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.font-tech {
    font-size: $text-medium;
    font-family: $font-roboto;
}

.format {
    text-align: center;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    height: 90px;
    line-height: inherit;
}
