.tech-background {
    background-clip: content-box;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $green;
    margin-top: 10px;
    .space {
        margin-left: 50px;
    }
}

.modify-img {
    padding-top: 5px;
}

.size-tech {
    height: 340px;
    width: 220px;
}

.modify {
    height: 400px;
}

.subtitle {
    padding-bottom: 15px;
}

.tech {
    margin-top: 10px;
    margin-left: 10px;
    background: $green;
    border-radius: 5px;
}

.order-tech {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.font-tech {
    font-size: $text-medium;
    font-family: $font-roboto;
}

.format {
    text-align: center;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    height: 120px;
}

.technologys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 240px;
    padding-top: 30px;
    width: 1000px;
    height: 800px;
    .flex-modify {
        justify-content: baseline;
    }
}

.content {
    display: flex;
    flex-direction: column;
}

.space {
    margin-top: 200px;
}

.front {
    height: 160px;;
}
