.tech-background {
    background-clip: content-box;
    border-radius: 5px;
    border: 1px solid $green;
}

.size-tech {
    height: 340px;
    width: 220px;
    &.modify {
        height: 400px;
    }
}

.subtitle {
    padding: 10px 0 15px 0;
}

.tech {
    position: relative;
}

.order-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-tech {
    font-size: $text-medium;
    font-family: $font-roboto;
    padding: 10px 0 10px 0;
}

.format {
    text-align: center;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    line-height: inherit;
    padding: 10px 0 0 0;
    &.front-text {
        height: 160px;
    }

}

.technologys {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 310px);
    justify-items: center;
    margin: 50px 0 0 300px;
    grid-row-gap: 40px;
}

.content {
    display: flex;
    flex-direction: column;
}



.tech.size-tech.first {
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px $green solid;
}
