$font-roboto : Roboto;
$nav-height: 90px;
$title-decoration-height: 90px;
$title-decoration-width: 100px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;

.title {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0 0 200px;
}

.img-title {
    height: $tech-logo-size;
    width: $tech-logo-size;
}

.primary-title {
    font-family: $font-roboto;
    font-size: $text-big;
    display: flex;
    align-items: center;
    margin-left: -20px;
    padding-top: 5px;
}

