.navbar {
    height: $nav-height;
    width: 100%;
    box-shadow: 0 6px 5px $grey;
    position: fixed;
    background-color: $white;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.font-navbar {
    font-size: $text-big;
    font-family: $font-roboto;
    padding: 32px 8px 0 0;
}

.img-navbar {
    width: 200px;
    height: 150px;
    padding: 0 0 0 15px;
    margin-top: -36px;
}
@media only screen and (max-width: 1024px) {
    .copyright {
        align-self: initial;
        padding: 30px 0 0 0;
    }

    .font-navbar {
        display:none;
    }
}
